@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url("//basehold.it/24");*/

html {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #292F33;
  line-height: 1.55555em; /*28 /18 =1.55555em */
  padding: 1.55555em; /*28 /18 =1.55555em */
  font-size: 1.125em;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.666667em; /*30 /18 =1.666667em */
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: bold;
  border-color: #66757F;
}

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  background: #55ACEE;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

fieldset {
  border-color: transparent;
  color: #E1E8ED;
}

#content {
  border-color: transparent;
  background-color: #66757F;
  display: inline-block;
}

li {
  padding-bottom: 1em; /*18 /18 =1em */
}

label {
  display: block;
  padding-bottom: 0.25em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1em;
}

button, input {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border-color: transparent;
  background-color: #DCDCDC;
  overflow: visible;
}

figcaption {
  padding-bottom: 1.333333em; /*24 /18 =1.333333 */
  color:white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}


footer {
  margin-top: 10em;
  text-align:left;
  color: #E1E8ED;
}

@media screen and (min-width: 6.2em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 40%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 12.6em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 65%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 24.8em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 100%;
  }
}


@media screen and (min-width: 55.555556em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  h1 {
    font-size: 200%;
  }
}
